*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

/* -----------X and O-------------- */
.cross {
  background: none;
  position: relative;
}
.cross:after {
  padding: 10px;
  color: rgb(88, 3, 84);
  justify-content: center;
  content: "\2715";
  font-weight: 600;
  text-align: center;  
}

.circle {
  background: none;
  position: relative;
}
.circle:after {
  color: rgb(88, 3, 84);
  align-content: center;
  justify-content: center;
  content: "\3007";
  font-weight: 600;
  text-align: center;
}
/* ------------------------------- */
body{
    width:100%;
    background: linear-gradient(
    135deg,
    #fffb82, 
    #fdda6f, 
    #ffc560, 
    #ffb26b, 
    #ff9b74, 
    #ff8485, 
    #ff6f9a, 
    #ff6cba, 
    #ff74d8, 
    #ef76e6, 
    #db79f3
    );
    background-size: 300%;
    animation: bg-animation 15s infinite alternate;
}

@keyframes bg-animation {
    0%{
        background-position: left;
    }
    100%{
        background-position: right;
    }
}
h1{
    display:flex;
    margin: 1rem auto;
    justify-content: center;
}
/* ---------------------------------------- */
section{
    margin: 2rem 2rem;
    border: 1px solid rgb(4, 0, 255);
}
.box{
    text-align: center;
    height: 9rem;
    width: 9rem;
    margin:0;  
}
#box1, #box2, #box4, #box5,
#box7, #box8 {
    border-bottom: .5rem solid black;
}

#box4, #box5,
#box6 {
    border-left: .5rem solid black;
    border-right: .5rem solid black;
}    

.game-grid{
    display:grid;
    grid-template: 1fr 1fr 1fr/ 1fr 1fr 1fr ;
    margin: 2rem auto;
    padding:2rem;
    max-width:28rem;
    max-height: 28rem;
    align-self: center;
    justify-content: center;
    font-size: 6rem;
    color: rgb(58, 5, 68);
    border: 1px solid rgb(81, 255, 0);

}
@media only screen and (max-width: 600px){
    section{
        margin: 1rem;
    }
    .box{
    height: 6.5rem;
    width: 6.5rem;
    }   
    .game-grid{
        margin: 1rem auto;
        max-width: 20rem;
        max-height: 20rem;
        padding:1rem;
        font-size: 4rem;
    }
}
@media only screen and (max-width: 400px){
    section{
        margin: .5rem;
    }
    .box{
    height: 4rem;
    width: 4rem;
   }
    .game-grid{
        margin: .5rem auto;
        max-width: 12.5rem;
        max-height: 12.5rem;
        padding:.5rem;
        font-size: 2.5rem;
    }
    .signature{
    width: 150px;
    height: auto;
}
}



/* -----------FOOTER------------ */
.signature{
    transition: 200ms ease-in-out;
}

.signature:hover{
    filter: drop-shadow(0 0 2px rgb(255, 0, 212));
}